<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
  <title>Auth App</title>
  <!-- start: META -->
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- end: META -->
  <!-- start: GOOGLE FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <!-- end: GOOGLE FONTS -->
  <!--STYLES-->
  <link rel="stylesheet" href="/js/dependencies/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/angular-toastr.min.css">
  <link rel="stylesheet" href="/styles/animate.min.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/jasny-bootstrap.css">
  <link rel="stylesheet" href="/styles/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="/styles/plugins.css">
  <link rel="stylesheet" href="/styles/signin.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/switchery.min.css">
  <link rel="stylesheet" href="/styles/theme-1.css">
  <link rel="stylesheet" href="/styles/themify-icons.min.css">
  <!--STYLES END-->
  <!-- c'est Grunt qui minifie tout ! le code est dispo sur github.com/powolnymarcel;-) -->

</head>
<!-- end: HEAD -->
<body >
<div id="app" ng-app="DashMod" ng-controller="DashCtrl"  ng-init="getUser()">

  <div class="app-content">

    <div class="main-content" >
      <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        <section id="page-title">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="mainTitle">User Profile</h1>
            </div>
            <ol class="breadcrumb">
              <li>
                <span><a href="/logout" ng-click="logout()" class="btn btn-md btn-danger" >LOGOUT</a></span>
              </li>
              <li class="active">
                <span>User Profile</span>
              </li>
            </ol>
          </div>
        </section>
        <!-- end: PAGE TITLE -->
        <!-- start: USER PROFILE -->
        <div class="container-fluid container-fullw bg-white">
          <div class="row">
            <div class="col-md-12">
              <div class="tabbable">
                <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                  <li class="active">
                    <a data-toggle="tab" href="#panel_overview">
                      Aperçu
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#panel_edit_account" ng-click="editer()">
                      Editer
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="panel_overview" class="tab-pane fade in active">
                    <div class="row">

















































































<!-- ****************************************************************USER ACCOUNT *****************************************************************************************************************************-->

                      <div class="col-sm-5 col-md-4">
                        <div class="user-left">
                          <div class="center">
                            <h4>{{user.nom}}</h4>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="user-image">
                                <div class="fileinput-new thumbnail"><img src="http://www.gravatar.com/avatar/152fc9c9c01fd07835fe3644138075b7" alt="">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div class="user-image-buttons">

                                  <a href="#" class="btn fileinput-exists btn-red btn-sm" data-dismiss="fileinput">
                                    <i class="fa fa-times"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <table class="table table-condensed">
                            <thead>
                            <tr>
                              <th colspan="3">Informations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Nom:</td>
                              <td>
                                 {{user.nom}}
                                </td>
                              <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                            </tr>
                            <tr>
                              <td>Prenom:</td>
                              <td>
                                  {{user.prenom}}
                                </td>
                              <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                            </tr>
                            <tr>
                              <td>Pseudo:</td>
                              <td>
                                  {{user.pseudo}}
                                </td>
                              <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                            </tr>
                            <tr>
                              <td>email:</td>
                              <td>
                                  {{user.email}}
                                </td>
                              <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                            </tr>
                            </tbody>
                          </table>
                          <table class="table">
                            <thead>
                            <tr>
                              <th colspan="3">Informations generales</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                              <td>Creation du compte</td>
                              <td> Depuis {{(dateNow |date:'M') - (dateSub |date:'M') }} mois -
                                          {{(dateNow |date:'d') - (dateSub |date:'d') }} J -
                                          {{(dateNow |date:'H') - (dateSub |date:'H') }} H -
                                          {{(dateNow |date:'m') - (dateSub |date:'m') }} M -
                                          {{(dateSub |date:'s') - (dateNow |date:'s') }} S </td>
                              <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                            </tr>
                            <tr>
                              <td>Url du gravatar</td>
                              <td>{{user.gravatarUrl |limitTo:40}}...</td>
                            </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>

<!-- ****************************************************************EDIT ACCOUNT *****************************************************************************************************************************-->

                    </div>
                  </div>
                  <div id="panel_edit_account" class="tab-pane fade">
                    <form action="#" role="form" id="form" ng-submit="">
                      <fieldset>
                        <legend>
                          Informations
                        </legend>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">
                                Nom*
                              </label>
                              <input type="text" placeholder="Peter" ng-model="user.nom" class="form-control" id="firstname" name="firstname">
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                Prenom*
                              </label>
                              <input type="text" placeholder="Clark" ng-model="user.prenom" class="form-control" id="lastname" name="lastname">
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                Email Address*
                              </label>
                              <input type="email" placeholder="peter@example.com" ng-model="user.email"  class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                Pseudo*
                              </label>
                              <input type="text" placeholder="pseudo" ng-model="user.pseudo" class="form-control" id="phone" name="email">
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                Password
                              </label>
                              <input type="password" ng-model="user.password" placeholder="password" class="form-control" name="password" id="password">
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                Confirm Password
                              </label>
                              <input type="password" ng-model="password_confirmation"  placeholder="password" class="form-control" id="password_again" name="password_again">
                            </div>
                          </div>
                      <fieldset>
                        <legend>
                          Infos en +
                        </legend>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">
                              Password crypté
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.password" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                lastLoggedIn
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.lastLoggedIn" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                GravatarUrl
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.gravatarUrl" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                CreatedAt
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.createdAt" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                UpdatedAt
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.updatedAt" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                            <div class="form-group">
                              <label class="control-label">
                                ID
                              </label>
																	<span class="input-icon">
																		<input class="form-control" disabled ng-model="user.id" type="text" >
                                    <i class="fa fa-twitter"></i> </span>
                            </div>
                          </div>
                      </fieldset>
                      <div class="row">
                        <div class="col-md-12">
                          <div>
                            *Champs requis
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <p>
                            By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
                          </p>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-primary pull-right" ng-click="editerUser()" type="submit">
                            Update <i class="fa fa-arrow-circle-right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: USER PROFILE -->
      </div>
    </div>
  </div>
  <!-- start: FOOTER -->
  <footer class="container">
    <div class="footer-inner">
      <div class="pull-left">
        &copy; <span class="current-year"></span><span class="text-bold text-uppercase">ClipTheme</span>. <span>All rights reserved</span>
      </div>
    </div>
  </footer>
  <!-- end: FOOTER -->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/dependencies/bower_components/angular/angular.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
<script src="/js/dependencies/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/public/signup/SignupMod.js"></script>
<script src="/js/public/signup/SignupCtrl.js"></script>
<script src="/js/public/login/LoginMod.js"></script>
<script src="/js/public/login/LoginCtrl.js"></script>
<script src="/js/private/dashboard/DashMod.js"></script>
<script src="/js/private/dashboard/DashCtrl.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/switchery.min.js"></script>
<!--SCRIPTS END-->
  <!-- c'est Grunt qui minifie tout ! le code est dispo sur github.com/powolnymarcel;-) -->

<script>
  jQuery(document).ready(function() {
    Main.init();
  });
</script>
<!-- end: JavaScript Event Handlers for this page -->
<!-- end: CLIP-TWO JAVASCRIPTS -->
</body>
</html>
