<!DOCTYPE html>
<html>
<head>
  <title>Auth App</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/js/dependencies/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/angular-toastr.min.css">
  <link rel="stylesheet" href="/styles/animate.min.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/jasny-bootstrap.css">
  <link rel="stylesheet" href="/styles/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="/styles/plugins.css">
  <link rel="stylesheet" href="/styles/signin.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/switchery.min.css">
  <link rel="stylesheet" href="/styles/theme-1.css">
  <link rel="stylesheet" href="/styles/themify-icons.min.css">
  <!--STYLES END-->
  <!-- c'est Grunt qui minifie tout ! le code est dispo sur github.com/powolnymarcel;-) -->
</head>
<body ng-app="LoginMod" ng-controller="LoginCtrl" class="container">

<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <form ng-submit="runLogin()">
      <input type="email" required="required" ng-model="email" value="nvidia@nvidia.com" name="email" placeholder="Email" autofocus="autofocus">
      <input type="password" required="required" ng-model="password" value="nvidia" placeholder="Password">
      <input type="submit" name="login" class="login loginmodal-submit green" value="Login">
    </form>

    <div class="">
      <input type="submit" ng-click="register()" name="register" class="login loginmodal-submit" value="Register">

    </div>
  </div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/dependencies/bower_components/angular/angular.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
<script src="/js/dependencies/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/public/signup/SignupMod.js"></script>
<script src="/js/public/signup/SignupCtrl.js"></script>
<script src="/js/public/login/LoginMod.js"></script>
<script src="/js/public/login/LoginCtrl.js"></script>
<script src="/js/private/dashboard/DashMod.js"></script>
<script src="/js/private/dashboard/DashCtrl.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/switchery.min.js"></script>
<!--SCRIPTS END-->
<!-- c'est Grunt qui minifie tout ! le code est dispo sur github.com/powolnymarcel;-) -->

</body>
</html>
